peewee==3.17.9
pydantic>=2.10.6,<3.0.0
PyJWT==2.10.1
pytz==2024.2
python-multipart==0.0.20
paho-mqtt==1.5.1
xlrd==2.0.1
fastapi==0.115.11
starlette==0.46.1
psycopg2-binary==2.9.10
uvicorn==0.34.0
dynaconf[toml]==3.2.7
dependency-injector==4.46.0
pytest==8.3.5
httpx==0.28.1
python-dotenv==1.1.0
pytest-asyncio==0.26.0
pytest-mock==3.14.0
python-dateutil==2.9.0
pandas==2.2.3
scipy==1.15.3
pylint==3.1.1
